Impl-GcCpmLibrary/additionalInsuredBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://Impl-GcCpmLibrary"
	xmlns:bons0="http://Impl-GcCpmLibrary">
	<xsd:include schemaLocation="NameValueTypeBO.xsd"></xsd:include>
	<xsd:complexType name="additionalInsuredBO">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="Type" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="AdditionalInsuredName"
				type="bons0:NameValueTypeBO">
			</xsd:element>
			<xsd:element minOccurs="0" name="AdditionalInsuredAddress"
				type="bons0:NameValueTypeBO">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>