Impl-GcCpmLibrary/clauseDetailsBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://Impl-GcCpmLibrary"
	xmlns:bons0="http://Impl-GcCpmLibrary">
	<xsd:include schemaLocation="GenericNameSpaceBO.xsd"></xsd:include>
	<xsd:complexType name="clauseDetailsBO">
		<xsd:sequence>
			<xsd:element minOccurs="0"
				name="propClauseDetailsClauseCodeMandatary" type="xsd:double">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="propClauseDetailsClauseNumberMandatary"
				type="bons0:GenericNameSpaceBO">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="propClauseDetailsClauseShortDescription"
				type="bons0:GenericNameSpaceBO">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="propClauseDetailsClauseType"
				type="bons0:GenericNameSpaceBO">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="propClauseDetailsDefaultMandatary" type="xsd:boolean">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="propClauseDetailsIsDataDeleted" type="xsd:boolean">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="propClauseDetailsIsOldDataDeleted" type="xsd:boolean">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>