Impl-GcCpmLibrary/cpmGridBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://Impl-GcCpmLibrary"
	xmlns:bons0="http://Impl-GcCpmLibrary">
	<xsd:include schemaLocation="NameValueTypeBO.xsd"></xsd:include>
	<xsd:complexType name="cpmGridBO">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="Type" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="RiskLocation"
				type="bons0:NameValueTypeBO">
			</xsd:element>
			<xsd:element minOccurs="0" name="RiskLocationAddress"
				type="bons0:NameValueTypeBO">
			</xsd:element>
			<xsd:element minOccurs="0" name="City"
				type="bons0:NameValueTypeBO">
			</xsd:element>
			<xsd:element minOccurs="0" name="Pincode"
				type="bons0:NameValueTypeBO">
			</xsd:element>
			<xsd:element minOccurs="0" name="Riskdescription"
				type="bons0:NameValueTypeBO">
			</xsd:element>
			<xsd:element minOccurs="0" name="CoverName"
				type="bons0:NameValueTypeBO">
			</xsd:element>
			<xsd:element minOccurs="0" name="SumInsured"
				type="bons0:NameValueTypeBO">
			</xsd:element>
			<xsd:element minOccurs="0" name="Rate"
				type="bons0:NameValueTypeBO">
			</xsd:element>
			<xsd:element minOccurs="0" name="Premium"
				type="bons0:NameValueTypeBO">
			</xsd:element>
			<xsd:element minOccurs="0" name="EndorsementSI"
				type="bons0:NameValueTypeBO">
			</xsd:element>
			<xsd:element minOccurs="0" name="EndorsementRate"
				type="bons0:NameValueTypeBO">
			</xsd:element>
			<xsd:element minOccurs="0" name="EndorsementPremium"
				type="bons0:NameValueTypeBO">
			</xsd:element>
			<xsd:element minOccurs="0" name="Others"
				type="bons0:NameValueTypeBO">
			</xsd:element>
			<xsd:element minOccurs="0" name="TotalPremium"
				type="bons0:NameValueTypeBO">
			</xsd:element>
			<xsd:element minOccurs="0"
				name="DeletionofCoverwithRetainAmount"
				type="bons0:NameValueTypeBO">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>