Impl-GcCpmLibrary/CPMResponseBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://Impl-GcCpmLibrary"
	xmlns:bons0="http://Impl-GcCpmLibrary">
	<xsd:include schemaLocation="responseXMLParentBO.xsd"></xsd:include>
	<xsd:complexType name="CPMResponseBO">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="errorText"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="responseXML"
				type="bons0:responseXMLParentBO">
			</xsd:element>
			<xsd:element minOccurs="0" name="error" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>