Impl-GcCpmLibrary/NameValueTypeBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://Impl-GcCpmLibrary">
	<xsd:complexType name="NameValueTypeBO">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="Name" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="Value" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="Type" type="xsd:string"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>