Impl-GcCpmLibrary/NameSpaceBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://Impl-GcCpmLibrary">
	<xsd:complexType name="NameSpaceBO">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="namespaceURI"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="localPart"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="prefix"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>