Impl-GcCpmLibrary/NetPremiumParentBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://Impl-GcCpmLibrary"
	xmlns:bons0="http://Impl-GcCpmLibrary">
	<xsd:include schemaLocation="NetPremiumSubBO.xsd"></xsd:include>
	<xsd:complexType name="NetPremiumParentBO">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="Value" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="Name" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="NetPremium"
				type="bons0:NetPremiumSubBO">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>