Impl-GcCpmLibrary/otherDetailsRootBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://Impl-GcCpmLibrary"
	xmlns:bons0="http://Impl-GcCpmLibrary">
	<xsd:include schemaLocation="otherDetailsGridBO.xsd"></xsd:include>
	<xsd:complexType name="otherDetailsRootBO">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="Code" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="Name" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="OtherDetailsGrid"
				type="bons0:otherDetailsGridBO">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>