Impl-GcCpmLibrary/RiskCoverDetailsNameSpaceBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://Impl-GcCpmLibrary"
	xmlns:bons0="http://Impl-GcCpmLibrary">
	<xsd:include schemaLocation="CoverDetailsValueBO.xsd"></xsd:include>
	<xsd:include schemaLocation="NameSpaceBO.xsd"></xsd:include>
	<xsd:complexType name="RiskCoverDetailsNameSpaceBO">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="name"
				type="bons0:NameSpaceBO">
			</xsd:element>
			<xsd:element minOccurs="0" name="declaredType"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="scope" type="xsd:string"></xsd:element>
			<xsd:element minOccurs="0" name="value"
				type="bons0:CoverDetailsValueBO">
			</xsd:element>
			<xsd:element minOccurs="0" name="nil" type="xsd:boolean"></xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>