Impl-GcCpmLibrary/uwOperationResultBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://Impl-GcCpmLibrary">
	<xsd:complexType name="uwOperationResultBO">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="proposalNo"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="totalPremium"
				type="xsd:double">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>