Impl-CpmSaveProposal/cpmSharedBO.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://Impl-GcCpm">
	<xsd:complexType name="cpmSharedBO">
		<xsd:sequence>
			<xsd:element minOccurs="0" name="auditPrimaryKey"
				type="xsd:int">
			</xsd:element>

			<xsd:element minOccurs="0" name="itTicketNumber"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="loggingModule"
				type="xsd:string">
			</xsd:element>
			<xsd:element minOccurs="0" name="traceLog"
				type="xsd:string">
			</xsd:element>
		</xsd:sequence>
	</xsd:complexType>
</xsd:schema>